#top-nav-bar {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: stretch;
  width: 100vw;
  position: fixed;
  background-color: #e11c25;
  height: 110px;
}

#nav-bar {
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.links {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #dc1d25;
  padding: 30px;
  transition-duration: 0.5s;
}

.links:hover {
  opacity: 50%;
  color: #dc1d25;
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
}

#isologotipo img {
  transition-duration: 1.5s;
}

#isologotipo:hover img {
  -webkit-filter: blur(100px);
  filter: blur(100px);
}

body {
  margin: 0px;
}

#main-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(-45deg, #bdc3c7, #ecf0f1, #e74c3c, #c0392b);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#banner-container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 50px;
}

#info-conocenos-container {
  padding-top: 150px;
  width: 100%;
  height: 2500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  background: linear-gradient(-45deg, #ecf0f1, #bdc3c7, #2980b9, #3498db);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

.titulo-conocenos {
  margin-top: 75px;
  font-size: 40px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

#info-conocenos {
  padding: 25px;
  width: 600px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-align: justify;
  word-spacing: 5px;
  line-height: 40px;
  background-color: white;
  border-radius: 2px 25px 25px 25px;
}

#mision-conocenos {
  padding: 25px;
  width: 900px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-align: justify;
  word-spacing: 5px;
  line-height: 40px;
  background-color: white;
  border-radius: 2px 25px 25px 25px;
}

#valores-conocenos {
  padding: 25px;
  width: 280px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  word-spacing: 5px;
  line-height: 40px;
  background-color: white;
  border-radius: 25px 2px 25px 2px;
}

#conclusion-conocenos {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container-contacto {
  height: 750px;
  padding-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #ecf0f1, #bdc3c7, #2ecc71, #27ae60);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

#encuesta {
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  color: #de1d26;
  background-color: white;
  border: 10px red;
  height: 300px;
  padding: 50px;
  margin-right: 60px;
  border-radius: 25px;
}

#consulta-form {
  resize: vertical;
}

input {
  width: 500px;
  height: 30px;
  border: none;
  border-bottom: 2px solid #de1d26;
  background-color: transparent;
}

input:active {
  border: none;
  border-bottom: 2px solid #de1d26;
  background-color: transparent;
}

#submit-button {
  border-radius: 25px;
  margin-top: 50px;
  font-size: 20px;
  background-color: white;
  border: 2px solid #de1d26;
  transition-duration: 1s;
}

#submit-button:hover {
  background-color: rgb(29, 222, 100);
}

#datos-contacto {
  height: 450px;
  width: 550px;
  border-left: 5px solid #de1d26;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-evenly;
  padding-left: 70px;
}

.links-contacto {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 0px 15px 30px;
  text-decoration: none;
  background-color: #de1d26;
  border-radius: 15px 2px 15px 2px;
  transition-duration: 0.5s;
  cursor: pointer;
}

.links-contacto:hover {
  background-color: #ea5e64;
}

#imagen-portada-contacto {
  padding-top: 50px;
}

.iconos {
  padding: 0px 10px 0px 0px;
}
