@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

:root {
  --headerBackground: #ffffffcc;
  --headerLink: #dc1d25;
  --headerHover: #f9d2d3;
  --lettersColor: #7d6061;
  --swiperBtn: #f9d2d3;
  --ensembleRed: #e11c25;
  --ensembleBtnLetter: #fef6f6;
  --footerBack: #393737;
}

html,
body {
  margin: 0;
  box-sizing: border-box;
  max-width: 1920px;
  height: min-content;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

h1,
h2,
h3,
h4,
span,
li,
p,
label {
  font-family: 'Rubik', sans-serif;
  color: var(--lettersColor);
  margin: 0;
}
a {
  text-decoration: none;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: var(--swiperBtn);
}

.swiper-button-prev,
.swiper-button-next {
  padding: 0 10%;
}
@media (max-width: 790px) {
  .swiper-button-prev,
  .swiper-button-next {
    padding: 0 2%;
  }
}
@media (max-width: 340px) {
  .swiper-button-prev,
  .swiper-button-next {
    visibility: hidden;
  }
}

hr {
  width: 80%;
}
