@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

:root {
  --headerBackground: #ffffffcc;
  --headerLink: #dc1d25;
  --headerHover: #f9d2d3;
  --lettersColor: #7d6061;
  --swiperBtn: #f9d2d3;
  --ensembleRed: #e11c25;
  --ensembleBtnLetter: #fef6f6;
  --footerBack: #393737;
}

html,
body {
  margin: 0;
  box-sizing: border-box;
  max-width: 1920px;
  height: min-content;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

h1,
h2,
h3,
h4,
span,
li,
p,
label,
name {
  font-family: 'Rubik', sans-serif;
  color: var(--lettersColor);
  margin: 0;
}
a {
  text-decoration: none;
}

.hambur {
  position: relative;
}
.hambur:hover .tuvieja {
  width: 100vw;
  height: 70vh;
  overflow: hidden;
  clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}
.hambur ul li {
  font-size: 20px;
  z-index: 2;
}

.tuvieja {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: absolute;
  right: 20px;
  background-color: red;
  transition: all 1s;
  width: 100vw;
  height: 100vh;
  /* clip-path: polygon(98% 0, 100% 0%, 100% 0, 100% 0); */
  clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}
.activo {
  background-color: var(--headerHover);
  font-weight: 500;
  border-radius: 50px;
  padding: 14px 40px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: var(--swiperBtn);
}

.swiper-button-prev,
.swiper-button-next {
  padding: 0 10%;
}
@media (max-width: 790px) {
  .swiper-button-prev,
  .swiper-button-next {
    padding: 0 2%;
  }
}
@media (max-width: 340px) {
  .swiper-button-prev,
  .swiper-button-next {
    visibility: hidden;
  }
}

hr {
  width: 100%;
}

video:focus {
  outline: none;
  cursor: pointer;
}
